.auth-wrap {
    min-height: 100vh;
    position: relative;
    width: 100%;
}
.auth-wrap .flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.auth-wrap .flex1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.auth-wrap .right {
    width: 50%;
    position: relative;
    padding: 70px 40px;
}
.auth-wrap a {
    color: #3b7e04;
    font-size: 13px;
}
.auth-btn {
    display: block;
    width: 100%;
    margin-top: 20px;
}
.auth-btn:hover {
    color: #3b7e04 !important;
    background-color: #fff !important;
}
.auth-btn {
    background-color: #3b7e04;
    color: #fff;
    border-color: #3b7e04 !important;
}
.auth-btn2 {
    background-color: #fff !important;
    color: #3b7e04 !important;
    border-color: #3b7e04 !important;
}
.auth-btn2:hover {
    color: #fff !important;
    background-color: #3b7e04 !important;
}
.auth-wrap .m-top {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
}
.auth-wrap .bottom {
    top: auto;
    bottom: 20px;
    display: none;
    box-shadow: none;
}
.auth-wrap .m-top .div {
    color: #667085;
    display: flex;
    align-items: center;
    font-size: 14px;
    padding-top: 20px;
}
.auth-wrap .m-top .div h6 {
    color: #000;
    padding-right: 5px;
}
.auth-wrap .m-top .logo {
    color: #fff;
    font-weight: 900;
    font-size: 20px;
}
.auth-wrap .bottom .div h6 {
    padding: 0px 5px;
}
.auth-wrap .right form,
.auth-wrap .right .form {
    max-width: 400px;
    margin: auto;
    padding-bottom: 20px;
}
.auth-wrap .right h2 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    opacity: 0.55;
}
.auth-wrap .right h1 {
    font-size: 30px;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 10px;
}
.auth-wrap .right h5 {
    color: #667085;
    margin-bottom: 10px;
}
.auth-wrap .right label {
    color: #344054;
    font-size: 14px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.auth-wrap .right .form-check-label {
    margin-left: 5px;
}
.auth-wrap .right .form-control {
    border-color: #d0d5dd !important;
    height: 44px !important;
    font-size: 13px;
}
.auth-wrap .right input::placeholder {
    font-size: 13px;
}

.form-check label {
    padding: 0px !important;
    font-size: 12px !important;
}
.form-check input {
    height: auto !important;
    margin-top: 0px !important;
}
.form-check {
    display: flex;
    align-items: center;
}
.auth-wrap .left {
    background: url("../images/logo.jpg");
    background-color: rgb(102 15 32 / 99%);
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    color: #fff;
    width: 50%;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.auth-wrap .left .inner {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #0f1d01bd;
}
.auth-wrap .left img {
    width: 270px;
    display: block;
}
.auth-wrap .left h2 {
    color: #fff;
    font-size: 25px;
    margin: 10px 0px;
}
.auth-wrap .left p {
    color: #fff;
    font-size: 15px;
    max-width: 500px;
}
.ff {
    display: none;
}
@media (max-width: 768px) {
    .auth-wrap .left {
        display: none;
    }
    .auth-wrap .right {
        width: 100%;
        padding: 55px 7% 100px;
        top: 20px;
    }
    .auth-wrap .m-top .logo {
        display: block;
    }
    .auth-wrap .logo img {
        height: 45px;
    }
    .auth-wrap .m-top {
        width: 100%;
        padding: 10px 6%;
        overflow: initial;
    }
    .ff {
        display: block;
        width: 100%;
    }
    .auth-wrap .m-top .div {
        font-size: 12px;
    }
    .auth-wrap .right h1 {
        font-size: 24px;
    }
}

/*SIGN UP*/
.right {
    overflow: hidden;
    height: 100vh;
}
.right #app {
    height: 100vh;
    overflow: auto;
    padding-top: 50px;
    padding-bottom: 180px;
}

.right #app::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #f2f2f2;
}

.right #app::-webkit-scrollbar {
    width: 5px;
    height: 10px;
    border-radius: 8px;
    background-color: #f2f2f2;
}
.right #app::-webkit-scrollbar-thumb {
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #3a7d0636;
    max-height: 40px !important;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin: 20px 0px;
}
.p-info {
    width: 160px;
    border: 1px solid #d0d5dd;
    box-shadow: 0px 1px 2px rgb(16 24 40 / 5%);
    border-radius: 8px;
    color: #d0d5dd;
    text-align: center;
    padding: 10px;
    font-size: 13px;
    cursor: pointer;
}
.p-info:hover,
.p-info.active {
    color: var(--sec-color);
    border-color: var(--sec-color);
}
.p-info.block {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}
.mt-wrap {
    max-width: 400px;
    margin: 0 auto;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
